nav {
  font-family: "Playfair Display", serif;
  color: #f0de36;
  padding: 20px 50px;
}

nav ul {
  margin: 0;
  padding-bottom: 150px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  font-size: 20px;
}

nav a {
  text-decoration: none;
  color: #f6f4eb;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
.logo {
  max-height: 90px;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("/images/gcb-3.jpeg");
  background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  padding-top: 20px;
  padding-bottom: 250px;
}
h1 {
  font-weight: 900;
  font-size: 60px;
  color: #f6f4eb;
}
h2 {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 50px;
  color: #f0de36;
}
p {
  padding: 30px 30px;
  line-height: 25px;
  font-size: 15px;
  text-align: justify;
}
