.logo {
  max-height: 90px;
}
nav {
  padding: 20px 0;
  font-family: "Tilt Prism", cursive;
}

nav ul {
  margin: 0;
  padding-top: 20px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  font-size: 25px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
